<%= content_for :title do %>
	<% if I18n.locale == I18n.default_locale %>
	Audiocancun | Servicios Empresariales
	<% else %>
	Audiocancun | Corporate Events
	<% end %>
<% end %>



<div class="services-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1><%= t 'body.services.corporate.title' %></h1> 
				<% if I18n.locale == I18n.default_locale %>
				<h3>Además del profesionalismo de nuestro capital humano, tenemos todo lo necesario para que su evento sea perfecto.</h3>
				<% else %>
				<h3>In addition to the professionalism of our staff, we have everything to make your event perfect</h3>
				<% end %>

			</div>
		</div>
	</div>
	
</div>

	

<div class="container">
	<div class="row">
		<div class="col-sm-8 services-body">
			<h2><%= t 'body.services.title' %></h2>
			<% if I18n.locale == I18n.default_locale %>
			<ul>
				<li>Bocinas Autoamplificadas</li>
				<li>Consolas de audio</li>
				<li>Micrófonos de mano, solapa, lavalier, presidenciales</li>
				<li>Lámparas led RGBW</li>
				<li>Cabezas móviles spot y wash</li>
				<li>Pantallas de marco, front y back</li>
				<li>Proyectores desde 2500 lumenes</li>
				<li>Cortinaje</li>
				<li>Escenarios a diferentes alturas encharolados</li>
				<li>Pistas de baile de leds integrados</li>
				<li>Pistas de baile de charol</li>
				<li>DJ’s y MC’s</li>
				<li>Pantallas de TV Led</li>
				<li>Y mucho mas…</li>
			</ul>
			<% else %>
			<ul>
				<li>Self-powered speakers</li>
				<li>Audio mixers</li>
				<li>Microphones (wireless, wired, handled, lavalier, headset, etc)</li>
				<li>LED Lamps RGBW</li>
				<li>Moving heads spot & wash</li>
				<li>Projection screens</li>
				<li>Video projectors</li>
				<li>Curtains</li>
				<li>Stages with vinyl</li>
				<li>LED integrated dancefloors (lightup)</li>
				<li>White or black Vinyl dancefloors</li>
				<li>DJS & MCS</li>
				<li>LED Screens</li>
				<li>And more...</li>
			</ul>
			<% end %>
		</div>
		<div class="col-sm-4 services-contact">
			<h2><%= (t 'contact.title') %></h2>
			<h3><i class="icon-mail"></i> <%= t 'contact.email' %></h3>
				<p>info@audiocancun.com</p>

				<h3><i class="icon-phone"></i> <%= t 'contact.tel' %></h3>
				<p>+52-998-271-4514</p>

				<h3><i class="icon-share"></i> <%= t 'contact.redes' %></h3>
			
				<%= link_to '<i class="icon-facebook"></i>'.html_safe, "http://www.facebook.com/pages/Audio-Cancun/140245099412517", class: 'button-facebook', target: "_blank" %>
				<%= link_to '<i class="icon-youtube"></i>'.html_safe, "http://www.youtube.com/user/AUDIOCANCUN", class: 'button-youtube', target: "_blank" %>
		</div>
	</div>
</div>

<%= render 'footer' %>
