<%= content_for :title do %>
  <% if I18n.locale == I18n.default_locale %>
  Audiocancun | Bodas
  <% else %>
  Audiocancun | Weddings
  <% end %>
<% end %>

<div class="wedding">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1><%= t 'wedding.title' %></h1>

				<p><%= t 'wedding.body' %></p>
				<%= link_to (t 'wedding.conoce'), "/contacto", class: 'btn btn-lg btn-wed' %>
				<%= link_to (t 'wedding.clientes'), testimonials_path, class: 'btn btn-lg btn-wed btn2' %>
        <%= link_to (t 'body.services.title'), sociales_path, class: 'btn btn-lg btn-wed btn2' %>
				<div class="row row-wedding">
          <div class="col-sm-4">
            <script type="text/javascript" src="http://www.bodas.com.mx/_js/wp-rated.js?v=2"></script>
              <center><div id="wp-rated">
                  <a href="https://www.weddingwire.com/reviews/audiocancun-cancun/9975cbb7646d7d58.html">
                    <img src="//www.weddingwire.com/assets/badges/BCA-2018/BCA2018-logo.png" />
                  </a>
              </div></center>
              <script>wpShowRatedv2('82613');</script>
          </div>
          <div class="col-sm-4 text-center">
            <a href="https://www.weddingwire.com/reviews/audiocancun-cancun/9975cbb7646d7d58.html">
              <img src="//www.weddingwire.com/assets/badges/BCA-2017/BCA2017-logo.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <script src='//www.weddingwire.com/assets/vendor/widgets/ww-rated-2013.js' type='application/javascript'></script><div id='ww-widget-wwrated-2013'><a class="ww-top" target="_blank" title="Weddings, Wedding, Wedding Venues" href="https://www.weddingwire.com"></a><a class="ww-bottom" target="_blank" title="AUDIOCANCUN Reviews, Eastern Mexico DJ" href="https://www.weddingwire.com/reviews/audiocancun-cancun/9975cbb7646d7d58.html"></a></div><script>  WeddingWire.ensureInit(function() {WeddingWire.createWWRated2013({"vendorId":"9975cbb7646d7d58" }); });</script>
          </div>
        </div>
			</div>
		</div>

	</div>
</div>
