<h1>Datos de Contacto</h1>
<hr>
<h3><%= @contact.name %></h3>
<h5>Telefono: <%= @contact.tel %></h5>
<h5>Email: <%= @contact.email %></h5>
<h5>Fecha: <%= @contact.date %></h5>
<h5>Evento: <%= @contact.event %></h5>
<h5>Personas: <%= @contact.person %></h5>
<h5>Lugar:</h5> 
	<p><%= @contact.place %></p>
<h5>Requerimientos:</h5>
	<p><%= @contact.requeriments %></p>
<h5>Comentarios:</h5> 
	<p><%= @contact.comments %></p>	

