<div class="container galleries">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t 'navbar.gallery' %></h1><div class="head-boarding"></div></h2>
      <h4><%= t 'body.gallery.caption' %></h4>
    </div>
  </div>
  <% @galleries.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |g| %>
    <div class="col-sm-3">
      <% if I18n.locale == I18n.default_locale %>
      <h2><%= g.name %></h2>
      <% else %>
      <h2><%= g.name_en %></h2>
      <% end %>
      <div class="thumbnail">
        <%= link_to (image_tag g.images.first.file.url(:thumb)), g %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
